.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.cardContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pageButton{
    height: 40px;
    width: 40px;
    border: 2px solid coral;
    border-radius: 5px;
    color: coral;
    margin-left: 5px;
}

.pageButton:hover{
    border: 2px solid black;
    color: black;
    background-color: coral;
}